.piece {
  font-size: 40px;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

.piece:active {
  cursor: grabbing;
}

.piece.player-1 {
  color: #fff;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.piece.player-2 {
  color: #000;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
}

/* Mobile: smaller pieces */
@media (max-width: 767px) {
  .piece {
    font-size: 28px;
  }
}

/* Desktop: larger pieces */
@media (min-width: 768px) {
  .piece {
    font-size: 50px;
  }
}
